.base{
  container: layout / size;
  min-width: var(--min-width-layout);
  max-width: var(--max-width-layout);
  width: 70dvw;
  aspect-ratio: 16/10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}